dist: trusty
sudo: required

language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - 7.4

services:
  - postgresql

addons:
  postgresql: "9.6"
env:
  global:
  - PGPORT=5432

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - cp ./other/install.php .
  - cp ./other/install_2-1_mysql.sql .
  - cp ./other/install_2-1_postgresql.sql .
  - cp ./other/Settings.php .
  - cp ./Settings.php ./Settings_bak.php
  - cp ./other/readme.html .
  - cp ./other/db_last_error.php .


script:
  - git submodule foreach git pull origin master
  - if find . -name "*.php" ! -path "./vendor/*" -exec php -l {} 2>&1 \; | grep "syntax error, unexpected"; then exit 1; fi
  - if php other/buildTools/check-signed-off.php travis | grep "Error:"; then php other/buildTools/check-signed-off.php travis; exit 1; fi
  - if php other/buildTools/check-version.php | grep "Error:"; then exit 1; fi
  - if find . -name "*.php" -exec php other/buildTools/check-smf-license.php {} 2>&1 \; | grep "Error:"; then exit 1; fi
  - if find . -name "./Themes/default/languages/*.english.php" -exec php other/buildTools/check-smf-langauge.php {} 2>&1 \; | grep "Error:"; then exit 1; fi
  - if find . -name "*.php" -exec php other/buildTools/check-eof.php {} 2>&1 \; | grep "Error:"; then exit 1; fi
  - phpunit
